
.section:not(:last-of-type){border-bottom: 10px solid #efefef;}

.row{width: 95%;padding: .5rem 0;margin: auto;line-height: 2rem;}
.row:not(:last-of-type){border-bottom: 1px solid #dbdbdb;}
.row:before,
.row:after{content:"";display:block;height:0;clear:both;visibility:hidden;}
.row > span.fl:first-of-type b{color: #FE0101;}
.row > a.fr{color: #00BAFE;max-width: 70%;}
.row .text{float: right;width: 60%;text-overflow:ellipsis;white-space:nowrap;overflow:hidden;text-align: right;}
.row .pleaseSelect{color: #b3b3b3;}
.row textarea{display: block;width: 100%;height: 4rem;margin: auto;border: 1px solid #dbdbdb;background-color: #f4f5f7;border-radius: 5px;padding: .5rem;font-size: .9rem;font-family: 微软雅黑;resize: none;}

.uploadDiv span{float: left;width: 18%;margin: .5rem 1%;}
.uploadDiv span img{display: block;width: 100%;}
.uploadDiv input[type=file]{display: none;}

button.submit{display: block;width: 95%;margin: 2rem auto 1rem;font: 1rem/2.5 '';background-color: #00bafe;color: #fff;padding: 0;}


#selectDefectType{width: 69.44%;}
#selectDefectType a:not(.closeBtn){display: block;text-align: center;font: .9rem/2.5 '';border-bottom: 1px solid #ededed;}


#selectCircuit{width: 69.44%;}
#selectCircuit a:not(.closeBtn){display: block;text-align: center;font: .9rem/2.5 '';border-bottom: 1px solid #ededed;}


#selectSegment{width: 86.11%;}
#selectSegment .mainDiv > div{display: block;padding: .8rem 1rem;border-bottom: 1px solid #ededed;}
#selectSegment input[type=checkbox]{width: 1rem;height: 1rem;-webkit-appearance: none;-moz-appearance: none;appearance: none;border: 1px solid #999;vertical-align: bottom;margin-right: .6rem;border-radius: 3px;}
#selectSegment input[type=checkbox]:checked{background:url("../images/checkIcon.png") no-repeat 40%/.8rem #00BAFE;border-color: #00BAFE;}


#selectFuZeRen{width: 69.44%;}
#selectFuZeRen a:not(.closeBtn){display: block;text-align: center;font: .9rem/2.5 '';border-bottom: 1px solid #ededed;}


#whetherPowerCut{width: 69.44%;}
#whetherPowerCut a:not(.closeBtn){display: block;text-align: center;font: .9rem/2.5 '';border-bottom: 1px solid #ededed;}


#selectTeam{width: 69.44%;}
#selectTeam a:not(.closeBtn){display: block;text-align: center;font: .9rem/2.5 '';border-bottom: 1px solid #ededed;}


#selectAssistPersonnel{width: 86.11%;}
#selectAssistPersonnel .mainDiv > div{display: block;padding: .8rem 1rem;border-bottom: 1px solid #ededed;}
#selectAssistPersonnel input[type=checkbox]{width: 1rem;height: 1rem;-webkit-appearance: none;-moz-appearance: none;appearance: none;border: 1px solid #999;vertical-align: bottom;margin-right: .6rem;border-radius: 3px;}
#selectAssistPersonnel input[type=checkbox]:checked{background:url("../images/checkIcon.png") no-repeat 40%/.8rem #00BAFE;border-color: #00BAFE;}

















