
body{padding-bottom: 3.3rem;}

.lists .item{border-bottom: 1px solid #dbdbdb;padding: 0 2.5% .8rem;display: block;}
.lists .item .time{font: .9rem/3 '';}
.lists .item img.fl{width: 8%;margin: .8rem 2%;}
.lists .item .text{font: .9rem/1.5 '';display: -webkit-box;-webkit-line-clamp: 3;-webkit-box-orient: vertical;overflow:hidden;}
























